<section class="admin_section">

    <div class="box_normal">
        <h2>견적문의</h2>
        <h4>새로 들어온 견적</h4>
        <div class="temp_bignum">2</div>
        <h4 class="fn-t_align_center">( 오늘 기준 )</h4>
    </div>

    <div class="box_normal">
        <h2>총 견적문의</h2>
        <h4>지금까지 견적 문의 갯수</h4>
        <div class="temp_bignum">13</div>
        <h4 class="fn-t_align_center">( 지금까지 총 견적문의 )</h4>
    </div>

    <div class="box_normal new_ask">
        <h2>오늘의 견적문의</h2>
        <h4>오늘 들어온 견적입니다.</h4>
    </div>

    <div class="box_newask">
        <h3>정연진 / TL솔루션</h3>
        <h5>19.03.11 18:01</h5>
        <div class="temp_line"></div>

        <div class="temp_title red"><div class="temp_circle"></div>개발사항</div>
        <div class="temp_text">
            <div class="choice_tag">iOS</div>
            <div class="choice_tag">안드로이드</div>
            <div class="choice_tag">기본형</div>
        </div>

        <div class="temp_title green"><div class="temp_circle"></div>기본사항</div>
        <div class="temp_text">
            <table>
                <tr>
                    <td>이름</td>
                    <td>정연진</td>
                </tr>
                <tr>
                    <td>회사</td>
                    <td>TL 솔루션</td>
                </tr>
                <tr>
                    <td>전화번호</td>
                    <td>010.8516.9622</td>
                </tr>
                <tr>
                    <td>이메일</td>
                    <td>dus532@naver.com</td>
                </tr>
            </table>
        </div>

        <div class="temp_title"><div class="temp_circle"></div>내용</div>
        <div class="temp_text explain">
            애견 미용을 위해 사람들을 모아줄수 있는 플랫폼 비즈니스를 생각중입니다.
        </div>
    </div>

    <div class="box_newask">
        <h3>전준혁 / 유토피아 시스템즈</h3>
        <h5>19.03.11 18:15</h5>
        <div class="temp_line"></div>

        <div class="temp_title red"><div class="temp_circle"></div>개발사항</div>
        <div class="temp_text">
            <div class="choice_tag">iOS</div>
            <div class="choice_tag">웹앱</div>
            <div class="choice_tag">안드로이드</div>
            <div class="choice_tag">커뮤니티형</div>
        </div>

        <div class="temp_title green"><div class="temp_circle"></div>기본사항</div>
        <div class="temp_text">
            <table>
                <tr>
                    <td>이름</td>
                    <td>전준혁</td>
                </tr>
                <tr>
                    <td>회사</td>
                    <td>유토피아 시스템즈</td>
                </tr>
                <tr>
                    <td>전화번호</td>
                    <td>010.8516.9622</td>
                </tr>
                <tr>
                    <td>이메일</td>
                    <td>dus532@naver.com</td>
                </tr>
            </table>
        </div>

        <div class="temp_title"><div class="temp_circle"></div>내용</div>
        <div class="temp_text explain">
            "해피스쿨" 시스템으로 학생들에게 맞는 맞춤 정보와 채팅 시스템, 그리고 알림장 등을 제공하며 국가 지원 사업으로 진행합니다.
        </div>
    </div>

</section>