<section class="section_01">
    <article>

        <h1>
            스타트업<br>
            통합 개발<br>
            솔루션.
        </h1>

        <div class="temp_line"></div>

        <div class="temp_description">

            <div class="temp_box"></div>

            <h3 class="temp_01">
                우리는 스타트업의 성장을 위한<br>
                통합 개발 솔루션을 통해<br>
                성공적인 비즈니스를 만들어갑니다.
            </h3>

            <a href="/assembles">
                <div class="btn_01">
                    <span>예상 견적확인</span>&#xE001;
                </div>
            </a>

        </div>

    </article>
    <div class="bg_blendline"></div>
</section>

<section class="section_02">
    <article>

        <div class="title_01">

            <h2 class="-text_01"><p>TL은</p>스타트업과 함께합니다.</h2>
            <hr>
            <h4 class="-text_02">
                투자 지원을 위해, 초기, 성장중인 스타트업을 위해<br>
                합리적인 가격과 기업의 가치를 생각합니다
            </h4>

        </div>

        <div class="temp_description">

            <div class="temp_box">

                <div class="temp_box_img one"></div>
                <div class="temp_line"></div>
                <div class="temp_text">투자 지원을 위한 개발</div>
                <h4>투자를 받기 위한 시제품이 필요하지만 자본이 많지 않은 팀.</h4>

            </div>


            <div class="temp_box">

                <div class="temp_box_img two"></div>
                <div class="temp_line"></div>
                <div class="temp_text">초기 스타트업</div>
                <h4>뛰어난 아이디어와 생각이 있지만 실현하지 못하는 팀.</h4>

            </div>

            <div class="temp_box">

                <div class="temp_box_img three"></div>
                <div class="temp_line"></div>
                <div class="temp_text">성장하는 스타트업</div>
                <h4>개발 단계에서 어려움을 겪고 있는 성장중인 스타트업.</h4>

            </div>

        </div>

    </article>
</section>

<section class="section_03">
    <article>

        <div class="title_01">

            <h2 class="-text_01"><p>TL은</p>스타트업을 생각합니다.</h2>
            <hr>
            <h4 class="-text_02">우리는 고객과 끊임없는 논의를 통해<br>서비스 완성과 유지보수를 진행합니다.</h4>

        </div>

    </article>
</section>

<section class="section_04">
    <article>

        <div class="title_01">

            <h2 class="-text_01"><p>TL은</p>다양합니다.</h2>
            <hr>
            <h4 class="-text_02">모든 플랫폼에 전략적으로 대응하며<br>원하는 대부분의 플랫폼을 만들어 드립니다.</h4>

        </div>

        <div class="temp_container">

            <div class="temp_box one">

                <div class="temp_os_logo"></div>
                <div class="temp_code_logo"></div>
                <h3 class="temp_title">Kotlin + Andriod</h3>
                <div class="temp_line"></div>
                <div class="temp_text">
                    Java를 대체하여 구글 ‘Android’의
                    기본으로 채택 된 언어입니다.<br>
                    코틀린을 통해 안정성과 효율성이
                    높아지며 미래 전망이 높은 언어입니다.
                </div>
                
            </div>

            <div class="temp_box two">

                <div class="temp_os_logo"></div>
                <div class="temp_code_logo"></div>
                <h3 class="temp_title">Swift + iOS</h3>
                <div class="temp_line"></div>
                <div class="temp_text">
                    Swift는 애플을 위한 강력하고 직관적인
                    프로그래밍 언어입니다.<br>
                    코드는 안전하게 설계되었으며 빠르게
                    실행되는 소프트웨어도 제작이 가능합니다.
                </div>
                
            </div>

            <div class="temp_box three">

                <div class="temp_os_logo"></div>
                <div class="temp_code_logo"></div>
                <h3 class="temp_title">node.js + WEB</h3>
                <div class="temp_line"></div>
                <div class="temp_text">
                    전 세계에서 가장 많이 쓰이는 서버 사이드
                    개발 소프트웨어 플랫폼입니다.<br>
                    자바스크립트를 통해 빠른 서버 통신과
                    높은 처리 성능을 가지고 있습니다.
                </div>
                
            </div>

        </div>

    </article>
</section>

<section class="section_05">
    <article>

        <div class="title_01">

            <h2 class="-text_01"><p>TL은</p>만듭니다.</h2>
            <hr>
            <h4 class="-text_02">모든 분야에서 인정받을 수 있는<br>프로젝트를 같이 만들어 갑니다.</h4>

        </div>

        <div class="temp_flex">

            <div class="temp_container">

                <div class="temp_box">
                    <div class="temp_q">
                        자바와 오브젝티드-C를<br>
                        이용하며 개발을 진행하나요?
                    </div>
                    <div class="temp_q temp_a">
                        안전하고 효율적인<br>
                        코틀린과 스위프트를 사용합니다.
                    </div>
                </div>

                <div class="temp_box">
                    <div class="temp_q">
                        반응형 웹사이트는<br>
                        제작이 어려울까요?
                    </div>
                    <div class="temp_q temp_a">
                        TL Solution은<br>
                        반응형도 같이 기획합니다.
                    </div>
                </div>

                <div class="temp_box">
                    <div class="temp_q">
                        데이터베이스를<br>
                        어떻게 관리하나요?
                    </div>
                    <div class="temp_q temp_a">
                        관리자 페이지를 통해서<br>
                        손쉽게 관리가 가능합니다.
                    </div>
                </div>

            </div>

            <div class="temp_big_box">
                
            </div>

            <div class="temp_container">

                <div class="temp_box">
                    <div class="temp_q">
                        우리가 만든 디자인이 없어도<br>
                        개발이 가능한가요?
                    </div>
                    <div class="temp_q temp_a">
                        서비스에 맞는 맞춤 템플릿으로<br>
                        디자인을 책입집니다.
                    </div>
                </div>

                <div class="temp_box">
                    <div class="temp_q">
                        스타트업에 대한 방향에 대해<br>
                        고민이 많습니다.
                    </div>
                    <div class="temp_q temp_a">
                        ***
                    </div>
                </div>

                <div class="temp_box">
                    <div class="temp_q">
                        프로젝트의<br>
                        진행사항이 궁금합니다.
                    </div>
                    <div class="temp_q temp_a">
                        직접 볼 수 있는 github, 노션으로<br>
                        프로젝트 진행 상황을 공유합니다.
                    </div>
                </div>

            </div>

        </div>

    </article>
</section>

<section class="section_06">
    <article>

        <div class="title_01">

            <h2 class="-text_01"><p>TL과</p>함께하세요.</h2>
            <hr>
            <h4 class="-text_02">합리적인 가격을 통해<br>기업의 가치를 높여드립니다.</h4>

        </div>

        <div class="temp_flex">

                <div class="temp_line"></div>

                <div class="temp_box">

                    <div class="temp_cir one">

                        <div class="temp_in_cir">

                            <div class="temp_in_in_cir"></div>

                        </div>
                        
                    </div>

                    <h2 class="temp_title">
                        <p>핵심형</p>예상 500 만원
                    </h2>

                    <div class="temp_text">
                        투자를 위한 시제품 제작<br>
                        5 ~ 10장 사이의 페이지 제작<br>
                        TL 커스텀 디자인 템플릿 사용
                    </div>

                </div>

                <div class="temp_line"></div>

                <div class="temp_box">

                    <div class="temp_cir two">

                        <div class="temp_in_cir">

                            <div class="temp_in_in_cir"></div>

                        </div>
                        
                    </div>

                    <h2 class="temp_title">
                        <p>초기형</p>예상 1,000 만원
                    </h2>

                    <div class="temp_text">
                        빠른 앱 서비스 출시<br>
                        서비스에 적합한 UI/UX<br>
                        협업 툴을 통한 기본적인 개발 시스템 구축
                    </div>

                </div>

                <div class="temp_line"></div>

                <div class="temp_box">

                    <div class="temp_cir three">

                        <div class="temp_in_cir">

                            <div class="temp_in_in_cir"></div>

                        </div>
                        
                    </div>

                    <h2 class="temp_title">
                        <p>성장형</p>견적 문의 필요
                    </h2>

                    <div class="temp_text">
                        독창적인 앱 기능 추가<br>
                        커스텀 UI, UX 적용<br>
                        고도화 서비스 추가
                    </div>

                </div>

                <div class="temp_line"></div>
        </div>

        <a href="/assembles">
            <div class="btn_01">
                <span>예상 견적확인</span>&#xE001;
            </div>
        </a>

    </article>
</section>