<div class="title_01">

    <h2 class="-text_01"><p>TL은</p>함께합니다.</h2>
    <hr>
    <h4 class="-text_02">전준혁따리<br>전예찬따리</h4>

</div>

<hr class="hr1">

<div class="title_02">

    <h4 class="-box_01">플랫폼</h4><br>
    아이디어를 표현할 플랫폼은 어디인가요?<br>
    ( 중복가능, 필수 )

</div>

<hr class="hr1">

<input type="checkbox" id="platform_01" class="box_chk01"></input>
<label class="box_01" for="platform_01">

    <h6>플랫폼</h6>
    <h4>모바일 웹 개발 ( node )</h4>
    <hr class="hr1">
    <h6><span>node.js를 통해 개발합니다. 가장 빠르고 가장 많이 사용되는 서버 프레임워크입니다.</span></h6>
    <hr class="hr1">
    <h4 class="fn-i_block">1,000,000 원</h4>
    <div class="-icon01"></div>   
    <div class="-icon02"></div>

</label>

<hr class="hr1">

<div class="btn_01">
    <span>예상 견적확인</span>&#xE001;
</div>

<hr class="hr1">

<div class="btn_02">예상 견적으로 견적 문의하기</div>
<div class="btn_02 btn_02_block">( 필수 항목을 모두 선택해주세요 )</div>